@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff') format('woff'),
  url('../fonts/opensans.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanslight.woff') format('woff'),
  url('../fonts/opensanslight.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Gillroy';
  src: url('../fonts/gilroylight.woff') format('woff'),
  url('../fonts/gilroylight.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Gillroy';
  src: url('../fonts/gilroyextrabold.woff') format('woff'),
  url('../fonts/gilroyextrabold.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding-top: 40px;
  font-family: 'Open Sans', Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

/*header*/
.header {
  background-color: #f7e296;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 18px;
}

.header-logo {
  display: inline-block;
  font-family: Gillroy, "Arial Black", sans-serif;
  font-size: 48px;
  font-weight: 800;
  text-decoration: none;
  color: #000;
  line-height: 1;
  transition: opacity .3s ease-out;
  margin-top: -23px;
  margin-bottom: 10px;
}

.header-logo:hover {
  opacity: .6;
}

.header-logo:active {
  opacity: .3;
}

.header-row {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.header-row-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  width: 500px;
}

.header-link {
  font-size: 15px;
  color: #000;
  font-weight: 300;
  text-decoration: none;
  transition: opacity .3s ease-out;
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  margin-right: 38px;
}

.header-link:last-child {
  margin-right: 0;
}

.header-link--user {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAMAAACOacfrAAAAP1BMVEUAAAAnJSUnJSUnJSUnJSUnJSUnJSUnJSUnJSUnJSUnJSUnJSUnJSUnJSUnJSUnJSUnJSUnJSUnJSUnJSUnJSVwG5TWAAAAFHRSTlMA2pBiswHXY9/vWf4jyUWA+4FE+qlY2hEAAABJSURBVAjXTclHDoAwEENRp3fq3P+shJER+Ss/GZilLDmBOXlzlFEZqqkaFVWRqqpK9TExuu6w3/odZ5iy8mWBS/42+EUeZVF5AM7zBwrRjeeTAAAAAElFTkSuQmCC);
}

.header-link--compare {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAABVJREFUeAFjAAFGRhCJyQRhIKIeEwAJjQAzdmDqkAAAAABJRU5ErkJggg==);
}

.header-link--cart {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAh1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD3YishAAAALHRSTlMAJ2aW6PrQoDBUB8B5P12Px6qxzeP4/Qa8c1g46yMkU2Bji+DOeHEbwo4f4SsROVEAAABgSURBVHgBRcdVEsMwEINh2XW96zIzcxPd/3yBTLL/g0Yfyr6/Z/7K0PR/A59H9S7qJKkmcXrGhlE86SVyjcBwvZO3dOIKS7JP1jPDgl1z9AxTjAx7TAwHjA1HDIbt320LMZ4QvAjtpZkAAAAASUVORK5CYII=);
}

.header-link--logout {
  color: #ac9e69;
  padding-left: 0;
}

.header-link:hover {
  opacity: .6;
}

.header-link:active {
  opacity: .3;
}

.header-user-menu {
  margin-right: auto;
}

/*header-search*/

.header-search {
  font-weight: 300;
  color: #000;
  font-size: 15px;
  display: flex;
}

.header-search [type="text"] {
  width: 356px;
  border: 0;
  border-bottom: 2px solid transparent;
  height: 48px;
  padding-left: 40px;
  padding-right: 10px;
  background-color: #f7e296;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAASFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACrhKybAAAAF3RSTlMA99qNv2EdAUsX+hyK3P3bj+Me9tLY1z3xbHwAAABxSURBVHjaXY9HDsAwCARxiXFJb/v/n4ZY5BDmAGIkGgkp+Fp9SKQMDh03aA3EXEqOQDfJYWQSeIR7uwKi1N1EBEkemZQML7GifKKgshEzm5bFDl3N2mM3h23td/qxYRKjz83LurdJjcB9jJiLfrT7fABn9gbLXzLqBAAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: 4px 50%;
  transition: all .35s ease;
  position: relative;
  z-index: 3;
}

.header-search [type="text"]::-webkit-input-placeholder { color: #b6a76f; }
.header-search [type="text"]::-moz-placeholder { color: #b6a76f; }
.header-search [type="text"]:-ms-input-placeholder { color: #b6a76f; }

.header-search [type="text"]:hover::-webkit-input-placeholder { color: #635a3c; }
.header-search [type="text"]:hover::-moz-placeholder { color: #635a3c; }
.header-search [type="text"]:hover:-ms-input-placeholder { color: #635a3c; }

.header-search [type="text"]:focus {
  outline: none;
  border-bottom-color: #000;
}

.header-search [type="submit"] {
  background-color: transparent;
  border: 2px solid #000;
  text-align: center;
  height: 48px;
  cursor: pointer;
  transition: all .25s ease-out;
  width: 85px;
  position: relative;
  left: -85px;
  z-index: 2;
}


.header-search [type="submit"]:hover {
  background-color: #000;
  color: #fff;
}

.header-search [type="submit"]:focus {
  outline: none;
}

.header-search [type="submit"]:active {
  color: #747474;
  background-color: #000;
  outline: none;
}

.header-search [type="text"]:focus + [type="submit"] {
  left: 0;
}

/*header-catalog*/
.header-catalog-title {
  font-family: Gillroy, "Arial Black", sans-serif;
  font-size: 18px;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .19em;
  line-height: 1.1;
  padding-right: 30px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEUAAAAnJSUnJSUnJSXl+zzGAAAABHRSTlMABQlNbPciFQAAABpJREFUCNdjYGC+wMCAn/gPBBAiNPxpKH7FACo7FJY1l+wGAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  cursor: pointer;
  transition: opacity .3s ease-out;
}

.header-catalog-title:hover {
  opacity: .6;
}

/*header-menu*/
.header-menu {
  width: 100%;
}
.header-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-right: -3px;
}

.header-menu a {
  font-family: Gillroy, "Arial Black", sans-serif;
  font-size: 18px;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .19em;
  line-height: 1.1;
  transition: opacity .3s ease-out;
}

.header-menu a:hover {
  opacity: .6;
}

.header-menu a:active {
  opacity: .3;
}

.header-menu li {
  margin-right: 36px;
}

.header-menu li:last-child {
  margin-left: auto;
  margin-right: 0;
}