include includes/head.pug

.content-wrapper
    .container
        h1.page-title Моноподы для селфи
        ul.breadcrumbs
            li: a(href="#") Главная
            li: a(href="#") Каталог товаров
            li Моноподы для селфи

    .container-wide.main-layout
        // - HERE!

include includes/footer.pug