include includes/head.pug
include includes/mixins.pug

.content-wrapper
    .container
        h1.page-title Моноподы для селфи
        +breadcrumbs(["Каталог товаров", "Моноподы для селфи"])
    
    .container-wide.main-layout
        aside.sidebar
            header.sidebar-header
                h4.sidebar-header-title Фильтр:
            .sidebar-content
                form.sidebar-filter
                    fieldset
                        legend Стоимость
                        .sidebar-filter-price
                    fieldset
                        legend Цвет
                        each checkbox, index in ["Черный", "Белый", "Синий", "Красный", "Розовый"]
                            .form-item
                                input(type="checkbox", name= checkbox, id="checkbox-" + index + 1, checked= index === 1)
                                label(for="checkbox-" + index + 1)= checkbox
                    fieldset
                        legend Bluetooth
                        each radio, index in ["Есть", "Нет"]
                            .form-item
                                input(type="radio", name="bluetooth", value= radio, id="radio-" + index + 1, checked= index === 0)
                                label(for="radio-" + index + 1)= radio
                    button.btn.btn--main(type="submit"): span Показать
        .content
            header.content-header
                h4.content-header-title Сортировка:
                ul.content-header-sort
                  li: a.active(href="#") По цене
                  li: a(href="#") По типу
                  li: a(href="#") По популярности
                ul.content-header-sort.content-header-sort--order
                  li: a.sort.sort--up.active(href="#") По возрастанию
                  li: a.sort.sort--down(href="#") По убыванию
            main.catalog
                ul.catalog-list
                    +catalog-item('Любительская селфи-палка', "1", "500 руб.")
                    +catalog-item('Профессиональная селфи-палка', "2", "1 500 руб.")
                    +catalog-item('Непотопляемая селфи-палка', "3", "2 500 руб.")
                    +catalog-item('Селфи-палка «Следуй за мной»', "4", "4 900 руб.", true)
                +pagination

include includes/footer.pug